* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  border-spacing: 0;
}

header {
  position: fixed;
  display:flex;
  width: 100%;
}

header table {
  width: 100%;
  background-color:#1d4b99;
}

header table a {
  display: inline-block;
}

header tr {
  height: 50px;
  display: inline-block;
}

header td {
  height:50px;
}


.kontent {
  top:50px;
  justify-content: start;
}
.menu {
  height: 50px;

  width: 100%;
  float:left;
  background-color: red;
  
}

table img {
  height:50px;
}

table a {
  height: 100%;
}